body > .container {
  margin-bottom: 30px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  div.post img {
    max-width: 100%
  }
}

.navbar {
  margin-bottom: 0px;
}

.sidebar {
  margin-bottom: 20px;
}

.social ul li {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.social ul li a,
.social ul li a:hover {
  color: #2C3E50;
  text-decoration: none;
}

.social ul li a i {
  font-size: 30px;
}

.panel ul {
  padding-left: 20px;
}

.license {
  color: #999;
  font-size: 11px;
  line-height: 1.5;
}

footer ul {
  display: table-cell;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h2.glyphicons {
  padding-left: 35px;
}

h2.glyphicons::before {
  margin: 5px 0 0 0;
}

/* Blog */
a.user-mention {
  font-weight: bold;
  color: #333;
}

a.user-mention:hoover {
  color: #333;
}

div.post {
  margin-bottom: 60px;
}

div.post p {
  text-align: justify;
}

div.excerpt > p:first-child {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
}

div.post div.excerpt {
  font-size: 16px;
  line-height: 1.6;
}

div.post ul.metadata {
  list-style: none outside none;
  margin-bottom: 10px;
  padding-left: 0;
  color: rgb(153, 153, 153);
}

div.post ul.metadata a {
  color: rgb(153, 153, 153);
}

div.post ul.metadata li {
  display: inline;
  padding-right: 20px;
}

div.post img {
  max-width: 100%;
  padding: 3px;
  border: 1px solid #d8d8d8;
  box-sizing: content-box;
  background-color: #fff;
}

div.post img.emoji {
  padding: 0;
  border: 0;
}

/* Syntax Highlighting */
pre code {
  background: transparent !important;
}

pre.highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #FAFAFB;
}

pre.headers {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background-color: #f1f1f1;
}
