<aside class="sidebar">
  <!-- resources -->
  <div>
    {% unless page.nosidebar %}<h3>Resources</h3>{% endunless %}
    <ul class="list-inline">
    {% for p in site.pages %}
      {% if p.navigation %}
        <li><a href="{{ p.url }}">{{ p.navigation }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <!-- social -->
  {% unless page.nosidebar %}
    <div class="social">
      <ul class="list-inline">
      {% for s in site.social %}
        <li>
          <a href="{{ s.url }}">
            <i class="fa fa-{{ s.icon }}"></i><br>{{ s.icon }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endunless %}

  <!-- github profile widget -->
  {% unless page.nosidebar %}
    <div
      class="github-card"
      data-github="starefossen"
      data-width="100%"
      data-height="317"
      data-theme="medium"
      style="margin-bottom: 20px;"
    />
  {% endunless %}
</aside>
