<aside class="sidebar">
  <!-- resources -->
  <div>
    <h3>Resources</h3>
    <ul class="list-inline">
    {% for p in site.pages %}
      {% if p.navigation %}
        <li><a href="{{ p.url }}">{{ p.navigation }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <!-- social -->
  <div class="social">
    <ul class="list-inline">
    {% for s in site.social %}
      <li>
        <a href="{{ s.url }}">
          <i class="fa fa-{{ s.icon }}"></i><br>{{ s.icon }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>

  <!-- github profile widget -->
  <div class="github-card" data-github="starefossen" data-width="100%" data-height="317" data-theme="medium" style="margin-bottom: 20px;"></div>
</aside>
