---
layout: default
---

<div class="post">
  <ul class="metadata">
    <li class="date">{{ page.date | date_to_string }}</li>
    <li class="author">
    {% if page.twitter %}
      <a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a>
    {% else %}
      {{ page.author }}
    {% endif %}
    </li>
    <li class="tags">
    {% for tag in page.tags %}
      <span class="label label-primary">{{ tag }}</span>
    {% endfor %}
    </li>
  </ul>
  <div class="excerpt">{{ content }}</div>
</div>
