---
layout: default
---

<div class="post">
  <ul class="metadata">
    <li class="date">{{ page.date | date_to_string }}</li>
    <li class="author">
    {% if page.twitter %}
      <a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a>
    {% else %}
      {{ page.author }}
    {% endif %}
    </li>
    <li class="comments">
      <a href="#disqus_thread">Comments</a>
    </li>
    <li class="tags">
    {% for tag in page.tags %}
      <span class="label label-primary">{{ tag }}</span>
    {% endfor %}
    </li>
  </ul>

  <div class="excerpt">{{ content }}</div>

  <hr>

  <h3>Comments</h3>

  <p>If you have questions or any feedback to the article, please post them in
  the comment section and I promise to read them and get respond on a regular
  basis.</p>

  <div id="disqus_thread"></div>

  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'starefossen';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
